header{
    background-color: black;
    height: 50px;
    width: 100%;
}
#svg1{
    height: 20px;
    position: absolute;
    top: 3%;
    left: 20px;
    cursor: pointer;
    transition: 1s;
}
#b1{
    position: relative;
    top: -600px;
    right: -5000px;
    z-index: 700;
}
#rech::placeholder{
    color: white;
}
#svg2{
    height: 19px;
    position: absolute;
    top: 3%;
    right:9.5%;
    cursor: pointer;
    transition: 1s;
}
#svg3{
    position: absolute;
    top: 3%;
    right:5%;
    height: 19px;
    width: auto;
    cursor: pointer;
}
#svg4{
    position: absolute;
    top: 3%;
    left:85%;
    height: 19px;
    cursor: pointer;
}
#svg5{
    height: 20px;
    position: absolute;
    top: 3%;
    left:93%;
    cursor: pointer;
    transition: 1s;
    display: none;
}
#svg1:hover,#svg2:hover,#svg3:hover,#svg4:hover{
transform: scale(1.1);
}
a{
    text-decoration: none;
    color: white;
}
#img1{
    background-size: contain;
    width: 100%;
    overflow-y: hidden;
    
}
#a1{
    padding-right: 970%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
#a2{
    position: relative;
    padding-right: 965%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
#a3{
    position: relative;
    padding-right: 960%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
#a4{
    position: relative;
    padding-right: 940%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
#a5{
    position: relative;
    padding-right: 950%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    
}
#a6{
    position: relative;
    padding-right: 944%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-wrap: nowrap;
    padding-left: 10px;
}
#a7{
    position: relative;
    padding-right: 991%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
a:hover{
    background-color: rgb(69, 70, 70);
}


#menu1{
    height: 1495%;
    top: -20px;
    position: relative;
    display: none;
    z-index: 1000;
    width: 60%;
    background-color: black;
}
#img1{
width: 100%;
    object-fit: cover;
image-rendering:crisp-edges;
    height:100%;
}
#b1{
    background-color: transparent;
    border: rgb(255, 255, 255) solid 2px;
    height: 40px;
    color: white;
    position: relative;
    left: 30%;
    top: 9w0px;
    cursor: pointer;
    transition: 2s;
    left: 1050px;

}
#b1:focus{
transform: scale(1.2);
border: rgb(255, 154, 154) solid 2px;
}
#sec1{
    background-color: black;
    height: 500px;
    animation: 2s infinite rayene;
    z-index: 0;
}
#titre1{
    position: relative;
    left: 68%;
    font-size: xx-large;
    top: -680px;
    color: white;
    z-index: 500;
}
@keyframes rayene{
40%{
    border-bottom: rgb(255, 136, 1) 5px solid;
}
50%{
    border-bottom: rgb(255, 111, 0) 5px solid;
}
70%{
    border-bottom: rgb(255, 111, 0) 5px solid;
}
100%{
    border-bottom: rgb(255, 111, 0) 5px solid;
}
}
#rech{
    position: relative;
    left: 25%;
    top: 5px;
    border-radius: 20px;
    height: 40px;
    width: 700px;
    display: none;
    background-color: black;
    color: white;
    border: white solid 2px;
}
#svg6{
    position: absolute;
    top: 22px;
    left:72%;
    height: 21px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width:700px) {
    header{
        height: 50px;
        width: 100%;
    }
    body{
        width: 100%;
    }
    #svg1{
        left: 15px;
        position: absolute;
        top: 20px;
    }
    #img1{
        overflow-x: hidden;
    }
    #b1{
        position: relative;
        top: 0px;
        left: 30%;
    }
    #titre1{
        position: relative;
        left: 25%;
        top: 0px;  
    }
    #svg2{
        display: flex;
        position:absolute;
        right: 19%;
        top: 2.3%;
        position: fixed;
    }
    #svg3{
        position: absolute;
        right: 5%;
        top: 20px;
        position: fixed;
    }
    #svg4{
        position: absolute;
        left: 65%;
        top: 20px;
        position: fixed;
    }
    #menu1{
        height: 2300%;
        top: -20px;
        position: relative;
        display: none;
        width: 100%;
        z-index: 5000;
    }
    #a1{
        position: relative;
        top: 30px;
        padding-right: 100%;
    }
    #a2{
        position: relative;
        top: -50px;
    }
    #a3{
        position: relative;
        top: -130px;
    }
    #a4{
        position: relative;
        top: -210px;
    }
    #a5{
        position: relative;
        top: -290px;
    }
    #a6{
        position: relative;
        top: -370px;
    }
    #a7{
        position: relative;
        top: -450px;
    }
    #a1,#a2,#a3,#a4,#a5,#a6,#a7{
        gap: -10px;
        height: auto;
        
        width: 100%;
        padding-right: 335px;
        margin-bottom: -60px;
        
    }
    #rech{
        position: relative;
        left:7px;
        width: 330px;
    }
    #svg6{
        left: 340px;
        top: -27px;
        position: relative;
    }
    html{
        overflow-x: hidden;
        width: 100%;
        margin-right: 0px;
        height: 200%;
    }
}
body{
    overflow-x: hidden;
    width: 100%;
    margin-right: 0px;
    height: 200%;
}
