#header1{
    background-color: black;
    height: 50px;
    width: 100%;
}
#svg1{
    height: 20px;
    position: absolute;
    top: 7.4%;
    left: 20px;
    cursor: pointer;
    transition: 1s;
}
#b1{
    position: relative;
    top: -600px;
    right: -5000px;
    z-index: 700;
}
#rech::placeholder{
    color: white;
}
#svg2{
    height: 19px;
    position: absolute;
    top: 7.4%;
    right:9.5%;
    cursor: pointer;
    transition: 1s;
}
#svg3{
    position: absolute;
    top: 7.4%;
    right:5%;
    height: 19px;
    width: auto;
    cursor: pointer;
}
#svg4{
    position: absolute;
    top: 7.4%;
    left:85%;
    height: 19px;
    cursor: pointer;
}
#svg5{
    height: 20px;
    position: absolute;
    top: 7.4%;
    left:93%;
    cursor: pointer;
    transition: 1s;
    display: none;
}
a{
    text-decoration: none;
    color: white;
}
#img1{
    background-size: contain;
    width: 100%;
    overflow-y: hidden;
    
}
#a1{
    padding-right: 935%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
#a2{
    position: relative;
    padding-right: 930%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
#a3{
    position: relative;
    padding-right: 925%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
#a4{
    position: relative;
    padding-right: 905%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
#a5{
    position: relative;
    padding-right: 913%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    
}
#a6{
    position: relative;
    padding-right: 912%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-wrap: nowrap;
    padding-left: 10px;
}
#a7{
    position: relative;
    padding-right: 960%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
}
#a1:hover,#a2:hover,#a3:hover,#a4:hover,#a5:hover,#a6:hover,#a7:hover{
    background-color: rgb(69, 70, 70);
}


#menu1{
    height: 1495%;
    top: -32px;
    position: relative;
    display: none;
    z-index: 1000;
    width: 60%;
    background-color: black;
}
#img1{
width: 100%;
    object-fit: container;
image-rendering:crisp-edges;
    z-index: 0;
}
#b1{
    background-color: transparent;
    border: rgb(255, 255, 255) solid 2px;
    height: 40px;
    color: white;
    position: relative;
    left: 30%;
    top: 9w0px;
    cursor: pointer;
    transition: 2s;
    left: 1050px;
    z-index: 100;

}
#b1:focus{
transform: scale(1.2);
border: rgb(255, 154, 154) solid 2px;
}
#sec1{
    background-color: black;
    height: 500px;
    animation: 2s infinite rayene;
    z-index: 0;
}
#titre1{
    position: relative;
    left: 68%;
    font-size: xx-large;
    top: -680px;
    color: white;
    z-index: 100;
}
#collection{
    position: relative;
    top: 300px;
}
html{
    height: 700px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#collection{
    font-size: xx-large;
    margin-left: 10px;
}
@keyframes rayene{
40%{
    border-bottom: rgb(255, 136, 1) 5px solid;
}
50%{
    border-bottom: rgb(255, 111, 0) 5px solid;
}
70%{
    border-bottom: rgb(255, 111, 0) 5px solid;
}
100%{
    border-bottom: rgb(255, 111, 0) 5px solid;
}
}
#rech{
    position: relative;
    left: 25%;
    top: 5px;
    border-radius: 20px;
    height: 40px;
    width: 700px;
    display: none;
    background-color: black;
    color: white;
    border: white solid 2px;
}
#svg6{
    position: absolute;
    top: 22px;
    left:72%;
    height: 21px;
    cursor: pointer;
    display: none;
}
@media screen and (max-width:700px) {
    #header1{
        height: 50px;
        width: 100%;    
    }
    body{
        width: 100%;
    }
    #svg1{
    transform: translateY(0px);
    transform: translateX(12px);
    }
    #img1{
        overflow-x: hidden;
    }
    #b1{
        position: relative;
        top: 0px;
        left: 30%;
    }
    #titre1{
        position: relative;
        left: 25%;
        top: 0px;  
    }
    #svg2{
transform: translateY(0px);
transform: translateX(-20px);
    }
    #svg3{
        transform: translateY(0px);
        transform: translateX(10px);    
    }
    #svg4{
        transform: translateY(0px);
        transform: translateX(-60px);
    }

    #menu1{
        height: 2300%;
        top: -27px;
        position: relative;
        display: none;
        width: 100%;
        z-index: 5000;
    }
    #a1{
        position: relative;
        top: 30px;
        padding-right: 100%;
    }
    #a2{
        position: relative;
        top: -50px;
    }
    #a3{
        position: relative;
        top: -130px;
    }
    #a4{
        position: relative;
        top: -210px;
    }
    #a5{
        position: relative;
        top: -290px;
    }
    #a6{
        position: relative;
        top: -370px;
    }
    #a7{
        position: relative;
        top: -450px;
    }
    #a1,#a2,#a3,#a4,#a5,#a6,#a7{
        gap: -10px;
        height: auto;
        
        width: 100%;
        padding-right: 335px;
        margin-bottom: -60px;
        
    }
    #rech{
        position: relative;
        left:7px;
        width: 330px;
    }
    #svg6{
        left: 341px;
        top: -27px;
        position: relative;
    }
    html{
        overflow-x: hidden;
        width: 100%;
        margin-right: 0px;
        height: 200%;
    }
    #svg5{
transform: translateX(-20px);
transform: translateY(-75px);
    }
        #collection{
        position: relative;
        top: 65px;
    }
    #titre1{
        left: 20%;
        position: relative;
    }
    #a8{
        position: relative;
        right: 30%;
        font-size: 14px;
        text-wrap: nowrap;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #box-email{
        border:rgb(199, 189, 189) solid 0.1px ;
        display: none;
        height: 150px;
        transform: translateY(35px);
        width: 95%;
    }
    #tex3{
        text-wrap: nowrap;
        padding-left: 15%;
    }
    #email{
        transform: translateX(15px);
        transform: translateY(50px);
        height: 35px;
        position: relative;
        right: 50%;
        width: 175px;
    }
    #svg8{
        height: 19px;
        transform: translateX(150px);
    }
    #svg9{
        height: 19px;
        transform: translateX(170px);
    }
    #social-icon{
        display: none;
    }
    #svg10{
        height: 17px;
        position: relative;
        left: 177px;
        top: -66px;
        padding: 9px;
        padding-top: 13px;
        cursor: pointer;
    }
    #svg10:focus{
        background-color: rgb(197, 197, 197);
    }
}
body{
    overflow-x: hidden;
    width: 100%;
    margin-right: 0px;
    height: 200%;
}
#header2{
    background-color: rgb(191, 2, 2);
    padding-bottom: 5px;
}
#a8{
    padding-left: 35%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#a8:focus{
    text-decoration: underline;
}
#svg7{
    height: 20px;
    top: 5px;
    right:-1%;
    z-index: 0;
    cursor: pointer;
    transition: 1s;
    position: relative;
}
#tex1{
    text-wrap: nowrap;
}
#tex2{
    text-wrap: nowrap;
   position: relative;
   left: -270px;
   font-size: 15px;
    transform: translateY(50px);
}
#boxsign{
    display: none;
}
